.recipe{
    text-align: center;
    position:relative;
    padding: 28px;
    display: flex;
    flex-wrap: wrap;
}
.recipe-preview{
    margin: 28px;
    display: inline;

}
.recipe-preview img{
    width: auto;
}