.recipe {
    display: grid;
    padding-bottom: 3rem;
}

.recipe-preview {
    display: block;
}

.recipe-img {
    height: 15rem;
    border-radius: 0.25em;
    margin-bottom: 1rem;
  }

.recipe h5 {
    margin-bottom: 0;
    margin-top: 0.25rem;
    line-height: 1;
    color: var(--grey-700);
  }

.recipe p {
    margin-bottom: 0;
    line-height: 1;
    color: var(--grey-500);
    margin-top: 0.5rem;
    letter-spacing: var(--letterSpacing);
  }